snippet some
something
endsnippet

snippet template
/*
 * Copyright Research In Motion Limited, `date +"%Y"`
 * Research In Motion Limited. All rights reserved.
 */

#include <`!v fn`.hpp>

`!v fn`::`!v fn`() {
}

`!v fn`::~`!v fn`() {
}
endsnippet

