ssh/authorized_keys
ssh/id_rsa
ssh/id_rsa.pub
ssh/keys
ssh/known_hosts
tmux/plugins
!tmux/plugins/tpm
vim/.netrwhist
vim/bundle
vim/colors
vim/doc
vim/undodir
config/configstore
config/nvim/autoload
*.pyc
